.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.childone {
  flex-grow: 1;
  background-color: aquamarine;
}

.childtwo {
  flex-grow: 12;
  display: flex;
  flex-direction: row;
}

.childthree {
  background-color: burlywood;
  flex-grow: 1;
}

.childfour {
  background-color: bisque;
  flex-grow: 1;
}

.childfive {
  background-color: rgb(224, 129, 13);
  flex-grow: 1;
}